$partenza: 0px;
$distanza: -30px;
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY($partenza);
    }
    40% {
        transform: translateY($distanza);
    }
    60% {
        transform: translateY(calc($distanza / 2));
    }
}

.bounce {
    height: 333px;
    width: 333px;
    background-color: aqua;
    animation: bounce 1s ease infinite;
}


/*Non so se ti aspettivi qualcosa in più riguardo a sass, nel caso vedrò di rifarlo*/